*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

li{
	list-style: none;
}

p{
	margin-top: 10px;
	color: #333;
}

input, select{
	height: 35px;
	padding-left: 10px;
}

header{
	padding: 20px 5px 30px 5px;
	text-align: center;
	background: linear-gradient(90deg, #004b8c , #1792a5, #007a96);
	border-bottom: 2px solid #fff;
}

header p{
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 120%;
	letter-spacing: 1px;
}

.filters-wrapper{
	background: rgba(255,255,255,0.9);
	padding: 10px;
	text-align: center;
}

.main-container{
	padding: 10px;
	background: url('../img/work.jpg');
	background-size: cover;
	background-repeat: no-repeat;
 	background-attachment: fixed;
 	min-height: 100vh;
}

.item-logo img{
	max-width: 150px;
	float: right;
	position: relative;
	z-index: 99;
}

.item-box{
	margin-top: 10px;
	clear: both;
	overflow: hidden;
	padding: 10px;
	background: inherit;
	transition: all ease-out 0.1s;
	position: relative;
	overflow: hidden;
}

.item-box:before{
	content: '';
	background: inherit; 
	position: absolute;
	left: -25px;
	right: -25px;
	top: -25px; 
	bottom: -25px;
	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.9);
	filter: blur(32px);
}

.item-box:hover{
	transform: scale(1.03);
	transition: all ease-out 0.1s;
}

.item-box a{
	font-weight: 700;
	font-size: 110%;
	z-index: 99;
	position: relative;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.88);
}

.item-box p{
	z-index: 99;
	position: relative;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.88);
}

.company-title{
	font-size: 120%;
	font-weight: 700;
}


.vacancy-list-wrapper{
	max-width: 800px;
	margin: 0 auto;
}

.vacancy-full-box{
	color: #333;
	border: 1px solid #e0e0e0;
	padding: 10px;
	margin: 10px;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 10px; 
}

.vacancy-full-box img{
	float: right;
	max-width: 150px;
}

.vacancy-contacts-title{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	color: #555;
	font-size: 110%;
	text-align: center;
	padding: 10px;
}