*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

li{
	list-style: none;
}

p{
	margin-top: 10px;
	color: #333;
}

input, select{
	height: 35px;
	padding-left: 10px;
}

header{
	padding: 20px 5px 30px 5px;
	text-align: center;
	background: linear-gradient(90deg, #004b8c , #1792a5, #007a96);
	border-bottom: 2px solid #fff;
}

header p{
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 120%;
	letter-spacing: 1px;
}

.header-link-admin{
	float: left;
	margin-top: -18px;
	color: #a6ddff;
}

.header-link-admin a{
    color: #a6ddff;
}

.filters-wrapper{
	background: rgba(255,255,255,0.6);
	padding: 10px;
	text-align: center;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
}

.main-container{
	padding: 10px;
	background: url('../img/noise_pattern_with_crosslines.png') repeat;
 	min-height: 100vh;
}

.item-logo img{
	max-width: 150px;
	float: right;
	position: relative;
	z-index: 99;
}

.item-box{
	margin-top: 10px;
	clear: both;
	overflow: hidden;
	padding: 10px;
	background: inherit;
	transition: all ease-out 0.1s;
	position: relative;
	overflow: hidden;
	background: rgba(255,255,255,0.6);
	border: 1px solid #e2e2e2;
	border-left: 10px solid #b7ddff;
}



.item-box:hover{
	transform: scale(1.03);
	transition: all ease-out 0.1s;
}

.item-box a{
	color: #1979bf;
	font-size: 110%;
	z-index: 99;
	position: relative;
	text-decoration: none;
	font-weight: 700;
}

.item-box a:hover{
	opacity: 0.7;
}

.item-box p{
	z-index: 99;
	position: relative;
}

.company-title{
	font-size: 120%;
	font-weight: 700;
}


.vacancy-list-wrapper{
	max-width: 800px;
	margin: 0 auto;
}

.vacancy-full-box{
	color: #333;
	border: 1px solid #e0e0e0;
	padding: 10px;
	margin: 10px;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 10px; 
}

.vacancy-full-box img{
	float: right;
	max-width: 150px;
}

.vacancy-contacts-title{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	color: #555;
	font-size: 110%;
	text-align: center;
	padding: 10px;
}