<div class="login-container-wrapper">
    <div class="login-wrapper">
        <form ng-submit="Auth()" class="login-form" name="regForm" role="form">

            <input ng-model="username" type="email">
            
            <input ng-model="pass" type="password">
            <p class="login-error">{{error}}</p>
            <p class="login-success">{{success}}</p>

            <button ng-disabled="!username || !pass" type="submit">enter</button>
        </form>
    </div>
</div>

{{username}}
{{pass}}

