
<header-app></header-app>

<div class="main-container">
		
	<div class="filters-wrapper">
		<p>Hi, {{$ctrl.name}} !</p>

		<p>List of our related vacancies:</p>

		<p>Search <input type="text" name="search" ng-model="$ctrl.query"></p>
		<p>
			Order by: 
			<select ng-model="$ctrl.orderProp">
				<option value="position">position name A-Z</option>
				<option value="-position">position name Z-A</option>
				<option selected value="-created">latest added</option>
				<option value="created">first added</option>
			</select>
		</p>
	</div>


	<!--<ul class="vacancy-list-wrapper">
		<li ng-repeat="vacancy in $ctrl.vacancys | filter: $ctrl.query | orderBy: $ctrl.orderProp" class="item-box">

			<a class="item-logo" href="#!/vacancy/{{vacancy.id}}">
				<img ng-src="{{vacancy.imgSrc}}" alt="{{vacancy.company}}">
			</a>

			<p class="company-title">{{vacancy.company}}</p>

			<p>
				<a href="#!/vacancy/{{vacancy.id}}">{{vacancy.position}}</a>
			</p>

			<p>{{vacancy.salary}}</p>
			<p>{{vacancy.city}}</p>
			<p>Added {{vacancy.added}} days ago</p>
		</li>
	</ul>-->

	<ul class="vacancy-list-wrapper">
		<li ng-repeat="vacancy in $ctrl.result | filter: $ctrl.query | orderBy: $ctrl.orderProp" class="item-box">

			<a class="item-logo" href="#!/vacancy/{{vacancy.id}}">
				<img ng-src="{{vacancy.imageUrl}}" alt="{{vacancy.company}}">
			</a>

			<p class="company-title">{{vacancy.title}}</p>

			<p>
				<a href="#!/vacancy/{{vacancy.id}}">{{vacancy.position}}</a>
			</p>

			<p>{{vacancy.salary}}</p>
			<p>{{vacancy.city}}</p>
			<p>Added {{vacancy.created | date:'dd.MM.yyyy'}}</p>
		</li>
	</ul>
</div>