[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

*{
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    transition: all ease-out 0.1s;
}

input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    border: none;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.20);
    padding: 10px;
}


.header-title{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 200%;
    text-align: center;
}

.header-wrapper{
    border-top: 10px solid #001064;
    background: #283593;
    padding: 0px 0 1px 0;
    position: relative;
    z-index: 2;
}


section{
    background: url('../img/brickwall.png') repeat;
    min-height: 100vh;
}


.lists-wrapper{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.list-box{
    display: inline-block;
    vertical-align: top;
    width: 24.5%;
    box-sizing: border-box;
    background: #e0e0e0;
    margin-left: 5px;
    margin-top: 10px;
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.list-box h1{
    margin: 0;
    background: #5f5fc4;
    padding: 15px 5px;
    color: #fff;
    word-break: break-word;
}

.list-box-new{
    display: inline-block;
    vertical-align: top;
    width: 24%;
    padding: 15px;
    box-sizing: border-box;
    background: #283593; 
    margin-left: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.list-delete{
    float: right;
    margin: 5px 5px 0 0;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.list-delete img:hover{
    transform: scale(1.3);
}

@media screen and (max-width: 1200px) {
    .list-box{
        width: 32%;
    }
    .list-box-new{
        width: 31%;
    }
}

@media screen and (max-width: 980px) {
    .list-box{
        width: 49%;
    }
    .list-box-new{
        width: 48%;
    }
}

@media screen and (max-width: 767px) {
    .list-box{
        width: 100%;
        display: block;
        margin-left: 0;
    }

    .list-box-new{
        width: 100%;
        display: block;
        margin-left: 0;
    }

    .lists-wrapper{
        width: 100%;
        margin: 0;
        height: auto;
        min-height: 80vh;
        padding: 0px 10px 10px 10px;
    }

    
}



.card{
    background: #fff;
    box-sizing: border-box;
    padding: 3px;
    margin: 10px;
}

.card-new{
    margin-top: 10px;
    background: #e0e0e0;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
}

.card-description{
    border: 1px solid #cacaca;
    clear: both;
    overflow: hidden;
    padding: 10px;
    color: #333;
    border-radius: 3px;
    margin: 7px;
}

.card-icon{
    float: right;
    cursor: pointer;
    margin: 5px;
}

.card-icon img:hover{
    transform: scale(1.3);
}


.card-category-select{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    color: #555;
    border-radius: 3px;
    background: #fff;
}